.markdown {
  @apply text-base leading-none;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-4;
}

.markdown h2 {
  @apply text-2xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-xl mt-8 mb-4 leading-snug;
}

.markdown img {
  @apply max-w-full h-auto mx-auto my-8;
  max-height: 660px;
}
